.sch-list-item{
    display: flex;
    max-width: 1500px;
    height: 50px;
    font-size: 1.2em;
    border: 0.5px solid #e1e1e1;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

.sch-item.comp{
    width: 30%;
    margin: 0;
}
.sch-name{
    margin-left: 30px;
    float: left;
    font-weight: bold;
}

.sch-name span{
    color: #a1a1a1;
}

.sch-date{
    right: 150px;
}

.sch-type{ 
    margin-top: 10px;
    position:absolute
}

.sch-amount{
    position: relative;
    float: right;
}
.sch-type span{ 
    color: #a1a1a1;
    font-size: 1em;
}

.sch-completed{
    position: absolute;
    width: 25px;
}

.sch-status{font-size: 22px}
.sch-status.active{color: #e0ac3c}
.sch-status.completed{color: #3f9831}